body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.terms {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
}

select, button {
  padding: 6px;
  font-size: 16px;
}
